$white: #fff;

$blue-000: #e7f5ff;
$blue-100: #d0ebff;
$blue-200: #a5d8ff;
$blue-300: #74c0fc;
$blue-400: #4dabf7;
$blue-500: #339af0;
$blue-600: #228be6;
$blue-700: #1c7ed6;
$blue-800: #1971c2;
$blue-900: #002391;

$red-000: #fff5f5;
$red-100: #ffe3e3;
$red-200: #ffc9c9;
$red-300: #ffa8a8;
$red-400: #ff8787;
$red-500: #ff6b6b;
$red-600: #fa5252;
$red-700: #f03e3e;
$red-800: #e03131;
$red-900: #ff4d1c;

$dark-000: #f4f3f8;
$dark-100: #a6a7ab;
$dark-200: #909296;
$dark-300: #5c5f66;
$dark-400: #373a40;
$dark-500: #2c2e33;
$dark-600: #25262b;
$dark-700: #1a1a1b;
$dark-800: #141517;
$dark-900: #040415;

$primary: #6752ea;
$secoundary: $red-900;
$footer: #f9f9f9;
