@import "../../../../styles/abstracts/colors.scss";
@font-face {
  font-family: "Montserrat-bold";
  src: url("../../../../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.container {
  position: relative;
  background-color: #edecf1;
  display: flex;
  align-items: center;
  margin-top: 80px;
  padding: 50px 100px;
  @media screen and (max-width: 700px) {
    padding: 20px;
  }
  @media screen and (max-width: 1050px) {
    flex-direction: column;
    margin-top: 120px;
  }
  h2 {
    font-size: 40px;
    font-family: "Montserrat-bold", sans-serif !important;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  border: #d1d0d5 solid 1.5px;
  border-radius: 80px;
  max-width: 350px;
  .information {
    h3 {
      margin-top: 5px;
      margin-bottom: 10px;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
      color: #7f7f82;
    }
  }
  img {
    width: 80px;
    border-radius: 50%;
    padding: 15px;
  }
  .contact {
    margin-bottom: 5px;
    display: flex;
    .icon {
      color: #7f7f82;
      margin-right: 5px;
    }
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-top: 50px;
  button {
    font-family: "Montserrat-bold", sans-serif !important;
    font-size: 12px;
    background-color: transparent;
    border: none;
  }
}
.contactContainer {
  position: absolute;
  right: 100px;
  background-color: $primary;
  justify-content: center;
  align-items: center;
  display: flex;
  top: -60px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  padding: 30px;
  flex-direction: column;
  @media screen and (max-width: 1050px) {
    position: static;
    margin-top: -100px;
  }
  @media screen and (max-width: 700px) {
    width: 400px;
    height: 400px;
  }
  @media screen and (max-width: 500px) {
    width: 300px;
    height: 300px;
  }

  input {
    border: none;
    height: 60px;
    margin-bottom: 30px;
    width: 350px;
    border-radius: 50px;
    padding-left: 30px;
    background-color: #918bf5;
    font-size: 16px;
    @media screen and (max-width: 700px) {
      width: 200px;
    }
    &::placeholder {
      color: #b9b5fe;
    }
  }
  div {
    display: flex;
    flex-direction: column;
  }
}
