@import "../abstracts/colors";
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
a {
  cursor: pointer;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}
button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif !important;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-width {
  width: 100%;
}
.loadingPage {
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  img {
    width: 150px;
    margin: 20px;
  }
}

.error-div {
  margin-right: 10px;
  padding: 1px 10px;

  p {
    color: $red-800;
    text-align: center;
    font-weight: bold;
  }
}

.success-div {
  margin-right: 10px;
  padding: 1px 10px;
  p {
    color: rgb(46, 208, 31);
    text-align: center;
    font-weight: bold;
  }
}
